@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    counter-reset: score;
  }

  .phone {
    background: #CCEFFF;
    border: 8px solid black;
    border-radius: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30),
                0 15px 12px rgba(0,0,0,0.22);
    height: 600px;
    position: relative;
    width: 300px;
  }

  .layer-1 {
    background: rgba(255, 255, 255, 0.096);
    bottom: 0;
    height: 450px;
    position: absolute;
    right: 60px;
    width: 80px;
    z-index: 1;
  }

  .layer-2 {
    background: rgba(255, 255, 255, 0.082);
    bottom: 0;
    height: 450px;
    position: absolute;
    left: 60px;
    width: 80px;
    z-index: 2;
  }

  .layer-3 {
    background: rgb(139, 69, 3);
 
    bottom: 0;
    height: 400px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 220px;
    z-index: 3;
  }

  .layer-4 {
    background: white;
    bottom: 0;
    height: 350px;
    left: 15px;
    position: absolute;
    width: 80px;
    z-index: 4;
  }

  .layer-5 {
    background: papayawhip;
    bottom: 0;
    height: 300px;
    position: absolute;
    width: 200px;
    z-index: 5;
  }

  .layer-6 {
    background: white;
    bottom: 0;
    height: 250px;
    position: absolute;
    right: 30px;
    width: 80px;
    z-index: 6;
  }

  .layer-7 {
    background: pink;
    bottom: 0;
    height: 200px;
    position: absolute;
    right: 0;
    width: 150px;
    z-index: 7;
  }

  .layer-8 {
    background: papayawhip;
    bottom: 0;
    height: 120px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 200px;
    z-index: 8;
  }

  .layer-9 {
    background: white;
    bottom: 0;
    height: 100px;
    position: absolute;
    width: 120px;
    z-index: 9;
  }

  .layer-10 {
    background: pink;
    bottom: 0;
    height: 100px;
    position: absolute;
    right: 0;
    width: 120px;
    z-index: 10;
  }
  /* =====orejas de los conejos==== */
  .left-ear--outer{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 0;
}
.left-ear--inner{
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 8px;
}
.right-ear--outer{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
}
.right-ear--inner{
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.head{
    background: white;
    border-radius: 50%;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    width: 80px;
}
.head_eye{
    background: black;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 15px;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0%{
        height: 4px;
    }
    5%{
        transform: translate(0px, 2px);
        height: 1px;
    }
    10%{
        transform: translate(0px, 0px);
        height: 4px;
    }
}
.head_eye--left{
    left: 30px;
}

.head_eye--right{
    right: 30px;
}
.grass{
    background: rgb(14, 129, 43);
    height: 20px;
    width: 100%;
}
.zigzag {
    background: linear-gradient(135deg, rgb(14, 129, 43) 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, rgb(14, 129, 43) 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, rgb(139, 69, 3) 25%, transparent 25%),
        linear-gradient(-45deg, rgb(139, 69, 3) 25%, transparent 25%);
    background-size: 33px 30px;
    background-color: rgb(66, 33, 2);
    height: 30px;
    width: 100%;
}